body {

	background-color: #333;

}

p, h4, table {

	margin-left: 20px;

}

th {

	text-align: left;

}

table, th, td {

	padding: 5px;

}

table {

	border-collapse: collapse;
	width: 65%;

}

.container {

    position: relative;
    left: 50%;
    width: 600px;
    margin-left: -300px;

}

.menu {

	text-align: center;
	background-color: #90cbbd;
	word-spacing: 30px;
	font-family: Helvetica, sans-serif;
	border-radius: 4px;

}

.menubutton {

	padding: 10px;
	background-color: #ddd;
	color: #333;
	text-decoration: none;
	border-radius: 4px;

}

.menubutton:hover {

	color: #90cbbd;

}

.contentcontainer {

	margin-top: 20px;
	border-radius: 4px;
	background-color: #555;
	font-family: Helvetica, sans-serif;

}

.content {

	padding: 15px;
	color: #ddd;
}

.unit {

	text-align: right;

}

#title {

	text-align: center;
	color: #ddd;
	font-family: Helvetica, sans-serif;
	font-size: 50px;

}